[submodule "external/cpp_bindings"]
    path = external/cpp_bindings
    url = https://github.com/GodotNativeTools/cpp_bindings.git
    branch = master
[submodule "external/godot_headers"]
    path = external/godot_headers
    url = https://github.com/GodotNativeTools/godot_headers.git
    branch = master
